.product-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .product-details {
    text-align: center;
  }
  
  .image-slider {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .image-slider img {
    max-width: 200px; /* Adjust the image size as needed */
    height: auto;
  }
  
  .quantity-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
  
  .quantity-selector button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .quantity-selector span {
    font-size: 18px;
    margin: 0 10px;
  }
  