/* MyMenu.css */

.dropdown-menu {
  animation: fadeInDown 0.5s ease; /* Apply fade-in animation */
  backdrop-filter: blur(6px);
  border: 2px solid #333; /* Border color */
  border-radius: 8px; /* Border radius for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
}

.menu-item{
  color: red; /* Text color */
  padding: 10px 20px; /* Padding for each item */
  font-size: 16px; /* Font size */
  background-color: aqua;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

.menu-item:hover {
  background-color: black; /* Hover background color */
  color: #4CAF50; /* Hover text color */
}

/* Keyframe animation for fadeInDown */
@keyframes fadeInDown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
