/* SliderSignin.css */
.slider-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px ;
    height: auto;
}
.slider-container {
    width: 90%;
    padding: 20px 20px;
    min-height: 17rem;
    background: transparent linear-gradient(67deg, #E71D3A 0%, #ECC7C1 45%, #EFCAC4 58%, #E4BDB8 70%, #42A8FE 100%) 0% 0% no-repeat padding-box;
    min-height: 20rem;
    height: auto;
}
/* Styling for each slide */
.slick-slide {
    transition: transform 1s ease-in-out; 
}
.slider-parent{
    width: 100%;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* min-height: 15rem; */
    height: auto;
}
  /* Styling for the image */
.slider-image{
    display: flex;
    align-items: center;
}
.slider-img img{
    width: 200px;
    height: 10rem;
}
  /* Styling for the text */
.slider-content{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 10rem;
}
.slider-content h2 , .slider-content p{
    color: #fff;
    padding: 0px 20px;
}
.slick-dots{
    position: absolute;
    bottom: -30px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    height: 0px;
}
.slick-dots li{
    background:none ;
    width: 5px;
    height: 5px;
}
.slick-dots li button::before{
    background: none;
    color: #fff;
    content: '■';

}
.slick-dots li.slick-active button::before{
    color: #fff;
    opacity: 1;
    list-style: square;
    content: '◆';
    font-size: 10px;
    /* padding: -20px; */
}
.rotate-dots .slick-dots {
    transform: rotate(-360deg);
    transition: transform 1s ease-out;
    /* margin-top: 20px; */
    background: none;
}
