.product {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
a {
  color: black;
  text-decoration: none;
}
.product-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product-parent {
  width: 30%;
  max-width: 250px;
  min-height: 300px;
  margin: 10px;
  border: 3px solid #f6f7f8;
  border-radius: 4px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

}
.product-parent:hover {
  box-shadow: 2px 10px 20px #bfbfbf;
  border-radius: 0.5em;
  cursor: pointer;
  transition-duration: 0.5s;
  opacity: 0.8;
}

img {
  max-width: 236px;
  height: 153px;
}
/* Base styles for screens above 768px */
.carousel {
  background: white;
}
.SliderPro {
  width: 90%;
  margin: 0 auto;
  border-radius: 0.6rem;
  top: 1rem;
  position: relative;
  height: 19rem;
  overflow: hidden;
  background: transparent
    linear-gradient(
      67deg,
      #e71d3a 0%,
      #ecc7c1 45%,
      #efcac4 58%,
      #e4bdb8 70%,
      #42a8fe 100%
    )
    0% 0% no-repeat padding-box;
}

.SliderImg {
  width: 100%;
  /* top: 5rem; */
  height: 17rem;
  border-radius: 0.6rem;
}

/* Media query for screens below 768px */
@media (max-width: 768px) {
  .SliderPro {
    width: 88%;
    height: 9rem;
    top: 0.3rem;
    bottom: 0.3rem;
  }

  .SliderImg {
    max-width: 100%;
    height: 7rem;
  }
  .product-parent {
    width: 100%;
    max-width: 200px;
    min-height: 200px;
    margin: 10px;
    border: 3px solid #f6f7f8;
    border-radius: 4px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    flex-wrap: wrap;
  
  }
}
